/* .SignUpContainer {
    position: fixed;

    display: flex;

    height: 100%;
    width: 100%;

    background-color: #9ef2eb;
    color: #282828;
}

.Split {
    position: fixed;
    height: 100%;
    width: 50%;
}

.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.SignUpBackgroundImageContainer {
    left: 0;
}

.SignUpFormContainer {
    right: 0;

    background-color: #FEFEFE;
    color: #282828;

    border-radius: 40px 0px 0px 40px;
}

.SignUpFormContainer div {
    width: 80%;

    font-size: 20px;
    font-weight: 400;
}

.SignUpFormContainer div h1 {
    color: #282828;
}

.SignUpForm {
    padding-top: 40px;
    padding-bottom: 10px;
}

.SignUpForm div {
    display: flex;
    flex-direction: column;

    width: 100%;

    text-align: left;

    padding: 20px 0px;
}

.SignUpForm div label {
    font-size: 20px;
    font-weight: 400;

    color: #282828;
}

.SignUpForm div input {
    font-size: 20px;

    width: 100%;

    border: none;
    border-bottom: 1px solid #AAAAAA;
}

.SignUpForm div input:focus {
    outline: none;
}

.SignUpFormSubmitBtn {
    background: none;
    border: none;

    font-size: 20px;
    font-weight: 400;

    padding: 10px 0px;
    margin-bottom: 40px;

    width: 60%;

    background-color: #9ef2eb;
    color: #282828;

    border-radius: 20px;

    cursor: pointer;
}

.SignUpFormContainer div div {
    width: 100%;
}

.SignUpFormContainer div div span {
    color: #41beb3;
} */

/* .DashboardContiner {
    display: flex;
    flex-direction: column;
}

.DashboardHeader {
    display: flex;
    justify-content: space-between;

    padding: 20px 10px;

    font-size: 26px;
    font-weight: 800;

    background-color: #9ef2eb;
    color: #282828;
}

.DashboardHeader button {
    background: none;
    outline: none;
    border: none;

    padding: 10px 20px;

    font-size: 20px;
    font-weight: 600;

    border-radius: 20px;

    background-color: #ff7ea4;
    color: #282828;

    cursor: pointer;
} */