@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.DashboardContiner {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins';
    color: #04364A;
}

.DashboardHeader {
    display: flex;
    justify-content: space-between;

    padding: 20px 10px;

    align-items: center;

    font-size: 24px;
    font-weight: 600;

    background-color: #9ef2eb;
    color: #176B87;
}

.DashboardHeader div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.DashboardHeader button {
    background: none;
    outline: none;
    border: none;

    cursor: pointer;
}

.UserData {
    position: absolute;

    display: flex;
    flex-direction: column;

    right: 0;
    top: 0;

    margin: 20px 10px;
    padding: 20px 20px;

    background-color: #EAF1FB;
    border-radius: 20px;

    z-index: 10;
}

.UserDataSubContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;

    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;

    padding: 20px 60px;
    
    color: #04364A;
}

.ExitUserData {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.ExitUserData button {
    cursor: pointer;
}

.UserDataUsername {
    font-size: 20px;
    font-weight: 800;
}

.UserDataSubContainer button {
    background: none;

    display: flex;
    gap: 10px;

    align-items: center;

    padding: 10px 40px;

    font-size: 14px;
    font-weight: 600;

    background-color: #F3F8FF;
    color: #04364A;
    border-radius: 20px;
}

.UserDataContainerBg {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0.2;
    background-color: #282828;

    z-index: 9;
}

.NoteContainer {
    display: flex;
    flex-direction: column;
}

.AddNoteContainer {
    display: grid;
    gap: 10px;
    flex-direction: column;

    align-self: center;

    width: 60%;

    margin: 60px 0px;
    padding: 10px 10px;

    background-color: #EAF1FB;
    border-radius: 10px;

    z-index: 6;
}

.AddNoteContainerBg.Visible {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    visibility: visible;

    z-index: 4;
}

.AddNoteComponent {
    width: 100%;

    display: flex;
    gap: 20px;
    justify-content: flex-end;

    transition: all 1s ease;
}

.AddNoteComponent.NotVisible {
    grid-area: 1 / 1;
    visibility: hidden;
}

.AddNoteComponent.Description {
    z-index: 1;
    visibility: visible;
}

.AddNoteComponent textarea {
    border: none;
    outline: none;
    background: none;

    font-size: 16px;
    font-family: 'Poppins';

    width: 100%;
    padding: 0;

    color: #04364A;
}

.AddNoteComponent textarea::-webkit-scrollbar { 
    display: none; 
}

.AddNoteComponent button {
    border: none;
    outline: none;
    background: none;
    
    font-size: 14px;
    font-weight: 600;
    
    background-color: #FEFEFE;
    color: #04364A;

    padding: 5px 15px;

    border-radius: 20px;

    cursor: pointer
}

textarea {
    resize: none;
}

.FetchedDataContainer {
    padding: 40px 0px;
    margin: 0px 80px; 

    display: grid;
    grid-gap: 40px;
}

.FetchedDataContainer.NumOfColsIs4 {
    grid-template-columns: repeat(4, 1fr);
}

.FetchedDataContainer.NumOfColsIs3 {
    grid-template-columns: repeat(3, 1fr);
}

.FetchedDataContainer.NumOfColsIs2 {
    grid-template-columns: repeat(2, 1fr);
}

.FetchedDataNoteContainer {
    margin-bottom: 40px;
}

.FetchedDataNoteContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;

    font-family: 'Poppins';

    height: 150px;
    overflow: hidden;

    height: fit-content;

    padding: 20px;

    color: #04364A;
    border-radius: 20px;

    transition: all 0.2s ease;
}

.FetchedDataNoteContainer.yellow {
    background-color: #FFF5C2;
}

.FetchedDataNoteContainer.red {
    background-color: #FF8F8F;
}

.FetchedDataNoteContainer.blue {
    background-color: #87C4FF;
}

.FetchedDataNoteContainer.green {
    background-color: #A6CF98;
}

.FetchedDataNoteContainer.pink {
    background-color: #FFC5C5;
}

.FetchedDataNoteContainer.orange {
    background-color: #FFAD84;
}

.FetchedDataNote.Title {
    font-size: 16px;
    font-weight: 600;
}

.FetchedDataNote.Description {
    font-size: 14px;
    font-weight: 400;

    max-height: 300px;

    overflow: hidden;
}

.FetchedDataNoteContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

    transition: all 0.2s ease;

    cursor:default;
}

.FetchedDataNoteBtnContainer {
    margin: 0;
    padding: 0;

    height: fit-content;
    align-items: center;

    display: flex;
    justify-content: flex-end;
}

.FetchedDataNoteBtnContainer button {
    background: none;
    outline: none;
    border: none;

    display: flex;

    margin: 0;
    padding: 0;

    height: fit-content;
    align-items: center;

    visibility: hidden;

    transform: scale(0.1);
    transition: all 0.2s ease;
}

.FetchedDataNoteContainer:hover .FetchedDataNoteBtnContainer button {
    transform: scale(1);
    transition: all 0.2s ease;

    visibility: visible;
    cursor: pointer;
}

.UpdateNoteContainer.NotVisible {
    visibility: hidden;
}

.UpdateNoteContainer {
    position: absolute;

    display: flex;
    justify-content: space-around;

    width: 100%;

    align-items: center;
}

.UpdateNoteBg {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0.2;
    background-color: #282828;

    visibility: visible;

    z-index: 5;
}

.UpdateNoteBg.NotVisible {
    visibility: hidden;
}

.UpdateNoteSubContainer {
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    margin: 60px 180px;
    padding: 10px;

    width: 100%;

    background-color: #EAF1FB;
    border-radius: 10px;

    z-index: 6;
}

.UpdateNoteSubContainer textarea {
    border: none;
    outline: none;
    background: none;

    font-size: 16px;
    font-family: 'Poppins';

    width: 100%;
    padding: 0;

    color: #04364A;
}

.UpdateNoteSubContainer .Title {
    font-size: 18px;
    font-weight: 800;
}

.UpdateNoteSubContainer textarea::-webkit-scrollbar { 
    display: none; 
}

.UpdateNoteButtonContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.UpdateNoteButtonContainer button{
    border: none;
    outline: none;
    background: none;
    
    font-size: 14px;
    font-weight: 600;
    
    background-color: #FEFEFE;
    color: #04364A;

    padding: 5px 15px;

    border-radius: 20px;

    cursor: pointer
}

@media screen and (max-width: 1000px) {
    .FetchedDataContainer {
        margin: 0px 40px;
    }

    .FetchedDataNoteContainer {
        margin-bottom: 40px;
    }

    .UpdateNoteSubContainer {
        margin: 40px;
    }
}


@media screen and (max-width: 800px) {
    .UserData {
        top: 20px;
        right: 10px;
        left: 10px;

        padding: 10px;
    }

    .UserDataSubContainer {
        font-size: 12px;
        padding: 10px;
    }

    .UserDataSubContainer button {
        font-size: 12px;
        padding: 5px 20px;
    }

    .UserDataUsername {
        font-size: 14px;
    }

    .AddNoteContainer {
        width: 90%;
    }

    .AddNoteComponent textarea {
        font-size: 10px;
    }

    .AddNoteComponent button {
        font-weight: 400;
        font-size: 10px;
    }

    .FetchedDataContainer {
        margin: 0px 10px;
        grid-gap: 10px;
    }

    .FetchedDataNoteContainer {
        margin-bottom: 10px;
    }

    .FetchedDataNote.Title {
        font-size: 12px;
        font-weight: 600;
    }
    
    .FetchedDataNote.Description {
        font-size: 10px;
        font-weight: 400;

        max-height: 200px;
    }

    .FetchedDataNoteBtnContainer button {
        visibility: visible;
        transform: scale(0.6);
    }

    .FetchedDataNoteContainer:hover .FetchedDataNoteBtnContainer button {
        transform: scale(0.6);
    }

    .UpdateNoteSubContainer {
        margin: 20px;
    }

    .UpdateNoteSubContainer .Title {
        font-size: 12px;
    }

    .UpdateNoteSubContainer textarea {
        font-size: 10px;
    }

    .UpdateNoteSubContainer button {
        font-weight: 400;
        font-size: 10px;
    }
}