@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.RegisterContainer {
    position: fixed;

    display: flex;

    font-family: 'Poppins';

    height: 100%;
    width: 100%;

    background-color: #9ef2eb;
    color: #04364A;
}

.Split {
    position: fixed;
    height: 100%;
    width: 50%;
}

.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.LogoContainer {
    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 24px;
    font-weight: 500;

    color: #176B87;

    display: flex;
    align-items: center;

    z-index: 2;
}

.LogoContainer img {
    padding-right: 10px;
}

.RegisterFormContainer {
    right: 0;

    background-color: #F3F8FF;

    border-radius: 40px 0px 0px 40px;
}

.RegisterFormContainer div {
    width: 80%;

    font-size: 20px;
    font-weight: 400;
}

.RegisterForm input {
    width: 100%;

    font-size: 18px;

    margin: 20px 0px;

    border: none;
    background: none;
    border-bottom: 1px solid #AAAAAA;
}

.RegisterForm input:focus {
    outline: none;
}

.RegisterFormSubmitBtn {
    background: none;
    border: none;

    font-size: 18px;
    font-weight: 400;

    padding: 10px 80px;
    margin-bottom: 40px;

    background-color: #9ef2eb;

    border-radius: 20px;

    cursor: pointer;
}

.RegisterFormContainer div div {
    width: 100%;
}

.GoToSignIn div {
    font-size: 18px;
}

.GoToSignIn span {
    color: #41beb3;
}

.GoToSignUp span {
    color: #41beb3;
}

.ErrorMsgNotVisible {
    visibility: hidden;
}

.DisplayErrorMsgContainer {
    font-size: 16px;
    color: #DC8686;

    margin: 40px 0px;
}


@media only screen and (max-width: 800px) {
    .RegisterImageContainer {
        display: none;
    }

    .RegisterFormContainer {
        width: 100%;
        border-radius: 0;
    }

    .RegisterFormContainer div h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .RegisterForm input, .RegisterFormSubmitBtn, .GoToSignIn div, .GoToSignUp div {
        font-size: 14px;
    }
}